$dkTan : #938f75;
$tan : #c5c09f;
$orange : #c48233;
$grey : #444444;
$dkGrey : #2b2a31;
$ltGrey : #a1a1a1;
// $ltGrey : #B0C5C8;
$red : #d4002b;
$green : #487a1d;
$brown : #51463f;
$facebook : #3b5998;
$twitter : #007bb6;
$linkedIn : #007bb6;
$youtube: red;
$tanHover : #eae8db;

// FONTS
$sans-serif : "proxima-nova",sans-serif;
$serif : 'Roboto Slab', serif;

// INCLUDE/MIXINS

$max : "max-width:";
@function max($pxSize) {
	@return #{$max} ($pxSize)+px;
}
$min : "min-width:";
@function min($pxSize) {
	@return #{$min} ($pxSize)+px; 
}

$ease : cubic-bezier(.36,.11,.38,.83);

@mixin clearfix {
	&::after {
		clear: both;
		display: table;
		content: '';
	}
}
@mixin trans {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
@mixin transX {
	left: 50%;
	transform: translateX(-50%);
}
@mixin transY {
	top: 50%;
	transform: translateY(-50%);
}
@mixin transClear {
	left: auto;
	top: auto;
	transform: translate(0%, 0%);
}
@mixin transXClear {
	left: Auto;
	transform: translate(0%, -50%);
}
@mixin transYClear {
	top: auto;
	transform: translate(-50%, 0%);
}
@mixin content {
	content: '';
	display: block;
	position: absolute;
}
@mixin mawh {
	height: 100%;
	width: 100%;
}
$small : .875rem;

/* START NAVIGATION */
.logo {
	width: 100%;
	max-width: 170px;
	display: block;
	position: absolute;
	@include transY;
	outline: none;
	@media (max(1024)) {
		top: auto;
		transform: translateY(0%);
		position: relative;
		float: left;
	}
	&:active {
		outline: none;
	}
}
nav {
	background-color: $tan;
	background-image: url('../images/1600/navigationBackground.jpg');
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding: .5rem 12.5% 0;
	@media (max(1400)) {
		padding: .5rem 5% 0;
	}
	@media (max(1024)) {
		padding: 1rem;
		// &::before {
		// 	opacity: 0;
		// 	@include content;
		// 	@include trans;
		// 	@include mawh;
		// 	position: fixed;
		// 	background-color: transparentize($dkGrey, .2);
		// 	z-index: 99;
		// 	transition: opacity .5s $ease;
		// }
		// &.active {
		// 	&::before {
		// 		opacity: 1;
		// 	}
			// &.activeOverlay {
			// 	&::before {
			// 		transition: opacity 0s $ease;
			// 		opacity: 0;
			// 	}
			// }
		// }
	}
}
.navOverlay {
	display: none;
	pointer-events: none;
	@media (max(1024)) {
		opacity: 0;
		@include content;
		@include trans;
		@include mawh;
		position: fixed;
		background-color: transparentize($dkGrey, .2);
		z-index: 99;
		transition: opacity .5s $ease;
		&.active {
			opacity: 1;
		}
	}
}
.navigationMenuItems {
	float: right;
	@media (max(1024)) {
		display: block;
		position: fixed;
		z-index: 100;
		width: auto;
		background-color: white;
		padding: 1rem;
		top: 0;
		bottom: 0;
		opacity: 0;
		transition: right .65s $ease, opacity .45s $ease .15s;
		-webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, .25);
		box-shadow: -5px 0px 15px rgba(0, 0, 0, .25);
		&.active {
			right: 0!important;
			opacity: 1;
		}
		ul {
			float: none;
			width: 100%;
		}
		// &::before {
		// 	opacity: 0;
		// 	@include content;
		// 	@include trans;
		// 	@include mawh;
		// 	position: fixed;
		// 	background-color: transparentize($dkGrey, .2);
		// 	z-index: 99;
		// 	pointer-events: none;
		// }
		// &.activeOverlay {
		// 	&::before {
		// 		opacity: 1;
		// 	}
		// }
	}
}
.navigation li {
	position: relative;
}
.navigationSocial {
	display: inline-block;
	margin-left: 50%;
	margin-bottom: .5rem;
	@media (max(1024)) {
		bottom: 1rem;
		position: relative;
		margin-left: 0;
		padding: .5rem 0;
		border-top: 1px solid $tan;
		border-bottom: 1px solid $tan;
		width: 100%;
		margin-top: 1rem;
	}
	li {
		padding-left: .5rem;
		&:first-of-type {
			padding-left: 0;
			padding-right: .5rem;
			@media (max(1024)) {
				display: none;
			}
		}
		&:nth-child(2) {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: .5rem;
		}
	}
	.button {
	}
}
#pricesButton {
	@media (min(1024)) {
		transition: background-color .25s $ease;
		&:hover {
			background-color: $dkTan;
		}
	}
	background-color: $tan;
	border-width: 2px;
	color: white;
	font-weight: 400;
	font-size: .65rem;
	padding: .25rem 1rem;
	text-transform: uppercase;
	position: relative;
	top: -8px;
	@media (max(1024)) {
		top: 0;
		margin-top: 1rem;
		display: inline-block;
		margin-bottom: .25rem;
	}
}
.socialIcon {
	a {
		display: block;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		border: 2px solid white;
		background-color: transparent;
		position: relative;
		cursor: pointer;
		transition: background-color .5s $ease, color .5s $ease, border-color .5s $ease;
		@media (max(1024)) {
			color: $grey;
			border-color: $grey;
		}
		svg {
			fill: white;
			height: 60%;
			width: 60%;
			position: absolute;
			@include trans;
			@media (max(1024)) {
				fill: $grey;
			}
		}
	}
	@media (min(1024)) {
		color: white;
		&:hover {
			.facebook {
				border-color: $facebook;
				background-color: $facebook;
			}
			.twitter {
				border-color: $twitter;
				background-color: $twitter;
			}
			.youtube {
				border-color: $youtube;
				background-color: $youtube;
			}
			.linkedIn {
				border-color: $linkedIn;
				background-color: $linkedIn;
			}
		}
	}
}
.navigationHover {
	position: absolute;
	display: block;
	height: 4px;
	width: 50px;
	background-color: white;
	bottom: -4px;
	left: 50%;
	transition: bottom .25s $ease, left .5s $ease 0s;
	.active {
		transition: bottom .25s $ease, left .5s $ease;
	}
}
.navigation {
	@media (min(1200)) {
		padding-left: 7.5rem;
	}
	padding-left: 2.5rem;
	border-top: 1px solid white;
	@media (max(1024)) {
		padding: 0;
		padding-bottom: 1rem;
		float: none;
	}
	& > li {
		position: relative;
		@media (max(1024)) {
			display: block;
		}
		/* start the active state of the top level navigation */
		&::before {
			@include content;
			height: 4px;
			width: 100%;
			background-color: black;
			bottom: 0;
			@include transX;
			opacity: 0;
		}
		&.active {
			&::before {
				opacity: 1;
				background-color: #fff;
			}
		}
	}
	li p {
		z-index: 1;
		transition: color .5s $ease;
		// overflow: hidden;
		&::before {
			@include content;
			@include mawh;
			@include transX;
			bottom: 0;
			height: 0px;
			background-color: #fff;
			z-index: -1;
			transition: height .5s $ease;
		}
		&.dropdown {
			&::before {
				@media (max(1024)) {
					height: 20px;
					width: 20px;
					right: 0;
					left: auto;
					transform: translateX(0);
					@include transY;
					background-image: url(../images/svgs/arrowDown.svg);
					background-repeat: no-repeat;
					-webkit-background-size: 75% 75%;
					background-size: 75% 75%;
					background-position: center center;
				}
			}
		}
		&.active {
			color: $tan;
			&::before {
				height: 100%;
			}
		}
	}
	li p, li a {
		position: relative;
		display: block;
		padding: .75rem 1.5rem;
		font-size: $small;
		line-height: $small;
		color: white;
		font-weight: 400;
		text-decoration: none;
		font-family: $sans-serif;
		cursor: pointer;
		@media (max(1024)) {
			padding: .65rem 1rem;
			padding-right: 7rem;
			padding-left: 0;
			color: $grey;
			font-weight: 800;
		}
	}
	li {
		@media (max(1024)) {
			&.active {
				& > .subNavigation {
					-webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, .25);
					box-shadow: -5px 0px 15px rgba(0, 0, 0, .25);
					right: 0!important;
					padding: 1rem;
					a {
						padding-right: 0;
					}
				}
			}
		}
	}
}
.dropdownShadow {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	box-shadow: 0px 2px 11px rgba(0, 0, 0, .5);
	opacity: 0;
	pointer-events: none;
	&.active {
		transition: opacity 1.5s $ease .5s;
		opacity: 1;
	}
}
.subNavigation {
	display: inline-block;
	display: none;
	position: absolute;
	z-index: 100;
	left: 0;
	@media (max(1024)) {
		display: none;
		position: fixed;
		width: auto;
		left: auto;
		transition: right .5s $ease;
		background-color: #fff;
		width: auto;
		display: block;
		top: 0;
		bottom: 0;
	}
	&::before {
		@include content;
		width: 100%;
		height: 0%;
		@include transX;
		bottom: 0;
		background-color: transparent;
		z-index: 1;
		opacity: 1;
		pointer-events: none;
		-webkit-box-shadow: 0px 6px 14px rgba(0, 0, 0, .75);
		box-shadow: 0px 6px 14px rgba(0, 0, 0, .75);
		transition: height .5s $ease;
		@media (max(1024)) {
			// @include mawh;
			// @include trans;
			// box-shadow: 0 0 0 rgba(0, 0, 0, 0);
			// opacity: 1;
			// background-color: white;
			// position: fixed;
			display: none;
		}	
	}
	&.active {
		&::before {
			height: calc(100% + 1.5rem + $small);
		}
	}
	li a {
		@media (min(1024)) {
			transition: background-color .25s $ease;
			background-color: white;
			&:hover {
				background-color: $tanHover;
			}
		}
		border-top: 1px solid transparentize(white, .7);
		display: block;
		text-align: left;
		padding: 1rem .75rem 1rem 1.5rem;
		color: $dkGrey;
		font-weight: 100;
		@media (max(1024)) {
			background-color: transparent;
		}
	}
}
.mobileAction {
	display: none;
	@media (max(1024)) {
		display: block;
		float: right;
		color: transparent;
		border: 1px solid white;
		border-radius: 5px;
		padding: .5rem 1rem;
		font-weight: 100;
		position: relative;
		z-index: 101;
		transition: border-color .5s $ease;
		position: absolute;
		@include transY;
		right: 1rem;
		&::before, &::after {
			@include content;
			width: 100%;
			height: auto;
			@include trans;
			text-align: center;
			color: $tan;
			opacity: 0;
			transition: opacity .5s $ease;
		}
		&::before {
			content: 'Close';
		}
		&::after {
			content: 'Menu';
			opacity: 1;
			color: white;
		}
		&.active {
			border-color: $tan;
		    position: fixed;
		    top: 1.5rem;
		    transform: translateY(0);
			&::before {
				opacity: 1;
			}
			&::after {
				opacity: 0;
			}
		}
	}
}
.navigationClose, .navigationBack {
	display: none;
	@media (max(1024)) {
		display: block;
		font-size: $small;
		color: $ltGrey;
		padding-left: 1.5rem;
		position: relative;
		&::before {
			@include content;
			@include transY;
			height: 1rem;
			width: 1rem;
			left: 0;
			background-position: center center;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
	}
}
.navigationClose {
	&::before {
		background-image: url(../images/svgs/closeNav.svg);
	}
}
.navigationBack {
	margin-bottom: 1rem;
	&::before {
		background-image: url(../images/svgs/backArrow.svg);
	}
}
/* END NAVIGATION */